doctorHomePage {
  background: url("../../assets/img/bb.jpg") no-repeat center center fixed;
  .activePageHighlight {
    background-color:map_get($colors,danger);
  }


  .item-content {
    background-color:red;
  }
}
