page-home {
  .welcome-title{
    color: rgb(255, 145, 145);
    font-size: 80px;
    border-radius: 44px;
    text-shadow: rgb(3, 3, 3) 4px 4px 4px;
  }
  ion-row {
    align-items: center;
    text-align: center;

  }



}