page-doctor-sign-up2 {
  .scroll-content {
    display:flex;
    flex-direction: column;
    overflow:hidden;
    background: url("../../assets/img/bg-banner.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

  ion-row {
    align-items: center;
    text-align: center;
  }

  ion-item {
    border-radius: 30px !important;
    padding-left: 10px !important;
    background-color: #f6f6f6;
    opacity: 0.7;
    font-size: 0.9em;
  }

  .text-input-style{
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border-color: inherit;
    border: 1px solid #fff;
    text-shadow: rgb(3, 3, 3) 4px 4px 4px;
  }

  *::-webkit-input-placeholder {
    color: #edf1ed;
  }

  .submit-btn{
    width: 100%;
    border-radius: 5px;
    font-size: 1.2em;
    border: 1px solid #fff;
    background-color: rgba(57, 172, 220, 0.8);
  }

  .submit-btn2{
    width: 100%;
    border-radius: 5px;
    font-size: 1.2em;
    border: 1px solid #fff;
    background-color: rgba(255, 63, 106, 0.8);
  }
}
