.ios, .md {

  page-login {
    .scroll-content {
      display:flex;
      flex-direction: column;
      overflow:hidden;
      background: url("../../assets/img/bg-banner.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
    }

    .login-button {
      width: 100%;
      border-radius: 5px;
      font-size: 1.2em;
      border: 1px solid #fff;
      background-color: rgba(57, 172, 220, 0.8);
    }

    *::-webkit-input-placeholder {
      color: #aba5a6;
    }

    form{
      margin-top: 20%;
    }

    .buttons{
      color: #4177cd;
      text-shadow: #fff 0 0 10px;
    }

    ion-item{
      border-radius: 5px;
      margin-bottom: 10px;
    }

  }

}
